/* styles.css */
.imageContainer {
    width: 100%;

.imageBox {
    list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-left: 0;
}

.imageBox li {
    list-style-type: none;
  width: 100%;
  max-width: 360px;}
}


